[submodule "Trust-Code/odoo-brasil"]
	path = Trust-Code/odoo-brasil
	url = git@github.com:Trust-Code/odoo-brasil.git
	branch = 12.0

[submodule "tobiasriis/cost_center"]
	path = tobiasriis/cost_center
	url = git@github.com:tobiasriis/cost_center.git
	branch = 12.0
